/vendor/
/var/
/generated/
/pub/static/*
!/pub/static/.htaccess
/pub/media/*
!/pub/media/.htaccess
/app/etc/env.php
/app/etc/config.php
/auth.json
/.env
/.env.local
/.env.production
/.env.*.local
*.sql
*.sql.gz
*.log
*.zip
*.tar
*.tar.gz
node_modules/
.DS_Store
Thumbs.db
.phpunit.result.cache

